body{
    background-color: black;
}


.links{
    text-align: center;
    top: 20px;
    right: 20px;
    z-index: 1000;
    margin-left: 800px;
    margin-bottom: 50px;
    font-size: large;
    left: 50px;
    padding: 20px;
    background-color: blue;

}


h1,h2{
    color: white;
}

a{
    color: white;
}


.one{
    position: absolute;
    top: 100px;
    left: 900px;
 }

 .image {
    width: 20cm;
    height: 20cm;
    margin-top: -110px;
}




